// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');
@font-face {
    font-family: 'HelveticaLTStdRoman';
    src: url('../assets/font/HelveticaLTStdRoman.eot');
    src: url('../assets/font/HelveticaLTStdRoman.eot') format('embedded-opentype'),
         url('../assets/font/HelveticaLTStdRoman.woff2') format('woff2'),
         url('../assets/font/HelveticaLTStdRoman.woff') format('woff'),
         url('../assets/font/HelveticaLTStdRoman.ttf') format('truetype'),
         url('../assets/font/HelveticaLTStdRoman.svg#HelveticaLTStdRoman') format('svg');
}

@font-face {
    font-family: 'HelveticaLTStdBold';
    src: url('../assets/font/HelveticaLTStdBold.eot');
    src: url('../assets/font/HelveticaLTStdBold.eot') format('embedded-opentype'),
         url('../assets/font/HelveticaLTStdBold.woff2') format('woff2'),
         url('../assets/font/HelveticaLTStdBold.woff') format('woff'),
         url('../assets/font/HelveticaLTStdBold.ttf') format('truetype'),
         url('../assets/font/HelveticaLTStdBold.svg#HelveticaLTStdBold') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLTStdLtCn';
    src: url('../assets/font/HelveticaNeueLTStdLtCn.eot');
    src: url('../assets/font/HelveticaNeueLTStdLtCn.eot') format('embedded-opentype'),
         url('../assets/font/HelveticaNeueLTStdLtCn.woff2') format('woff2'),
         url('../assets/font/HelveticaNeueLTStdLtCn.woff') format('woff'),
         url('../assets/font/HelveticaNeueLTStdLtCn.ttf') format('truetype'),
         url('../assets/font/HelveticaNeueLTStdLtCn.svg#HelveticaNeueLTStdLtCn') format('svg');
}
@font-face {
    font-family: 'HelveticaNeueLTStdLt';
    src: url('../assets/font/HelveticaNeueLTStdLt.eot');
    src: url('../assets/font/HelveticaNeueLTStdLt.eot') format('embedded-opentype'),
         url('../assets/font/HelveticaNeueLTStdLt.woff2') format('woff2'),
         url('../assets/font/HelveticaNeueLTStdLt.woff') format('woff'),
         url('../assets/font/HelveticaNeueLTStdLt.ttf') format('truetype'),
         url('../assets/font/HelveticaNeueLTStdLt.svg#HelveticaNeueLTStdLt') format('svg');
}
@font-face {
    font-family: 'HelveticaLTStdBoldCond';
    src: url('../assets/font/HelveticaLTStdBoldCond.eot');
    src: url('../assets/font/HelveticaLTStdBoldCond.eot') format('embedded-opentype'),
         url('../assets/font/HelveticaLTStdBoldCond.woff2') format('woff2'),
         url('../assets/font/HelveticaLTStdBoldCond.woff') format('woff'),
         url('../assets/font/HelveticaLTStdBoldCond.ttf') format('truetype'),
         url('../assets/font/HelveticaLTStdBoldCond.svg#HelveticaLTStdBoldCond') format('svg');
}
.center{text-align: center;}
img{vertical-align: middle;}
$deviceHeight: 100vh;

//.ff-loader .spinner-bubbles circle {fill: #ff6356 !important;}
.ff-loader .spinner-crescent circle {stroke: #ff6356 !important;}
.loading-spinner + .loading-content{font-size: 1.6rem; color: #ff6356; font-weight: 400; margin-top: -2px;}
.loading-wrapper{padding: 14px 30px !important;}
.ff-toast .toast-message{text-align: center;}


body{font-family: 'NotoSans-Regular';}
.ion-md-arrow-back:before {content: "\f3cf"; color: white !important;}
.range-md .range-knob-handle .range-pin {transform: translate3d(0, 0, 0) scale(1);}
.range-md:not(.range-has-pin) .range-knob-handle .range-knob {transform: scale(1);}
.range-ios .range-knob-handle .range-pin {transform: translate3d(0, 0, 0) scale(1);}
.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content{padding: 0;}
img{vertical-align: middle;}
.cmpleSelect{width: 100%; padding-left: 0;}
.hide_lbl{margin: 0;}
.button-outline-ios-danger{background-color: transparent !important; color: #f53d3d !important;}
.alert-radio-label, .select-text{white-space: normal!important;}




/*****************Login Screen************************/

.bg-image{background: url(../assets/imgs/bg-img.png) no-repeat 0 0 / cover;}
.login {width: 80%;margin: 0 auto;display: flex;flex-direction: column;min-height: calc(100vh - 56px);justify-content: center;}
.login-heading {color: #fff;text-align: center;margin-bottom: 50px;}
.login-heading p{font-size: 24px;margin: 0;}
.login-heading h2{font-size: 34px;font-weight: 400;margin: 15px 0;}
.login-field .item.item-block{background: transparent;border: none;padding: 0;border-bottom: 1px solid rgba(255, 255, 255, 0.50) !important; margin-bottom: 15px; box-shadow: 0 0 0 !important;}
.login-field .item.item-block .item-inner{border:0;padding: 0;box-shadow: 0 0 0 !important;}
.login-field .item.item-block .item-inner .input{color: #fff;line-height: 2;height: 30px;}
.login-field .item.item-block .item-inner .input input{margin: 0;font-weight: 500;padding: 0 40px 0 5px;width: 100%;font-size: 14px;}
.login-field ::-webkit-input-placeholder {color: #fff;}
.login-field ::-moz-placeholder {color: #fff;}
.login-field :-ms-input-placeholder {color: #fff;}
.login-field :-moz-placeholder {color: #fff;}
.block-btn .login-btn{font-size: 17px;background: #303131 !important; border: 1px solid rgba(255, 255, 255, 0.50);border-radius: 25px;margin: 20px 0;height: 43px;}
.block-btn .facebook-btn{font-size: 15px;background: #1458ab url(../assets/imgs/facebook.png) no-repeat 17px 45% / 9px;border: 1px solid #0a588a;border-radius: 25px;margin: 10px 0;height: 43px;}
.custom-checkbox .left-s .item{background: transparent;padding: 0;min-height: auto;}
.custom-checkbox .left-s .item .checkbox{margin: 0 8px 0 0;}
.custom-checkbox .item-inner{border: none !important;padding: 0;color: #fff;}
.custom-checkbox .left-s{display: inline-block;width: 49%;}
.custom-checkbox .right-s{display: inline-block;width: 49%;text-align: right;vertical-align: top;}
.custom-checkbox .right-s a{color: #fff;text-decoration: none;}
.custom-checkbox .item-inner .label{font-size: 13px;margin: 0;}
.custom-checkbox .item-inner .input-wrapper{height: 20px;}
.block-btn {margin-top: 10px;}
.footer-text {text-align: center;color: #fff;font-weight: 500;font-size: 13px;}
.footer-text p{margin: 0;}
.footer-text a{color: #ff6356;}
.error{color: #a72e3c;font-size: 14px;margin-top: -10px;display: block;}
.login-field .item.item-block.error-border{border-bottom-color: #a72e3c !important;}
.custom-checkbox .checkbox .checkbox-checked {border-color: #ccc;background-color: transparent;}
.custom-checkbox .checkbox .checkbox-icon {border-radius: 3px;width: 17px;height: 17px;border-width: 2px;border-style: solid;
    border-color: rgba(255, 255, 255, 0.43);background-color: transparent;}
.checkbox .checkbox-checked .checkbox-inner {left: 4px;top: 1px;}
.footer-text span {border-bottom: 1px solid #ff6356; padding-bottom: 4px;}
.checkbox .checkbox-checked .checkbox-inner{border-color: rgba(255, 255, 255, 0.43);}

/*****************Sign Up********************/

.login-field .item.item-block .item-inner .input.email-field input{background: url(../assets/imgs/email-icon.png) no-repeat 100% 45% / 20px;}
.login-field .item.item-block .item-inner .input.password-field input{background: url(../assets/imgs/password-icon.png) no-repeat 100% 45% / 20px;}
.login-field .item.item-block .item-inner .input.firstname-field input{background: url(../assets/imgs/user-icon.png) no-repeat 100% 45% / 20px;}
.login-field .item.item-block .item-inner .input.lastname-field input{background: url(../assets/imgs/user-icon.png) no-repeat 100% 45% / 20px;}
.login-field .item.item-block .item-inner .input.dob-field input{background: url(../assets/imgs/calender-icon.png) no-repeat 100% 45% / 20px;}
.login-field .item.item-block.select-field .select{background: url(../assets/imgs/arrow-down.png) no-repeat 100% 45% / 20px;}
.login-field .item.item-block.select-field .select .select-icon-inner{display: none;}

.signup-heading-text {text-align: center;color: #fff;margin-bottom: 35px;font-size: 13px;line-height: 17px;}
.signup-heading-text p{margin: 0;}
.cus-header .toolbar-background{background: transparent;border: none;}
.cus-header .toolbar-content .toolbar-title{color: #fff;font-weight: 500;text-align: center !important;}
.sign-up .login-field{margin-top: 24px;}
.sign-up .login-field .list{margin-bottom: 0;}
.policy-text {color: #fff;font-size: 11px;line-height: 17px;}
.policy-text p{margin: 0;}
.policy-text span {border-bottom: 1px solid #ff6356;padding-bottom: 4px;}
.policy-text span a{text-decoration: none;color: #ff6356;font-weight: 500;}
.login.sign-up .list .input-wrapper .label{color: #fff;font-size: 15px;font-weight: 500;padding-left: 5px;}
.login.sign-up{margin: 20px auto;display: block;min-height: auto;}
.login.sign-up .login-field .item.item-block {border-bottom: 1px solid rgba(255, 255, 255, 0.50);margin-bottom: 10px;}
.arrow-icon{background: transparent; height: auto; margin: 0; padding: 0 10px; color: #fff; font-size: 1.5em;}
.footer-text.btm_div{padding-bottom: 10px;}
.cntry-lbl{width: 40%;}
.cntry-opt{width: 60%; max-width: 100%; color: #fff; font-size: 15px;}
.dob-date{padding: 11px 8px 11px 0 !important; color: #fff !important; background: url(../assets/imgs/calender-icon.png) no-repeat 100% 45% / 20px;width: 100%;}
.dob-date .datetime-text{padding-left: 5px;color: #fff;font-size: 14px;font-weight: 500;}

/*******************Measurement Screen (Radio Button)***********************/

.custom-header-inner .toolbar-background{background: #ff6356; border-bottom: 1px solid #ff6356;}
.custom-header-inner:after{background: none !important;}
.custom-header-inner .toolbar-content .toolbar-title {color: #fff;font-weight: 500;font-size: 17px;}
.custom-header-inner .toolbar-content .title{padding: 0; text-align: center !important;}
.measurement-head{text-align: center;margin: 40px 0;font-size: 20px;}
.measurement-screen {width: 80%;margin: 30% auto;}
.global-radio .radio-inner {border: 1px solid #eaeaea;padding: 13px;margin-bottom: 25px;}
.black-btn .button{background: #303131 !important; border-radius: 30px; height: 40px; font-weight: 500;}
.global-radio {margin: 20px 0 40px;}
.global-radio [type="radio"]:checked,
.global-radio [type="radio"]:not(:checked) {position: absolute;left: -9999px;}
.global-radio [type="radio"]:checked + label,
.global-radio [type="radio"]:not(:checked) + label
{position: relative;padding-left: 34px;cursor: pointer;line-height: 20px; display: inline-block;color: #a4a4a5;
    font-size: 15px;}
.global-radio [type="radio"]:checked + label:before,
.global-radio [type="radio"]:not(:checked) + label:before {
    content: '';position: absolute;left: 0;top: 0;width: 20px;height: 20px;border: 1px solid #ddd;border-radius: 100%;
    background: #fff;}
.global-radio [type="radio"]:checked + label:after,
.global-radio [type="radio"]:not(:checked) + label:after {
    content: '';width: 12px;height: 12px;background: #ff6356;position: absolute;top: 5px;left: 5px;border-radius: 100%;
    -webkit-transition: all 0.2s ease;transition: all 0.2s ease;}
.global-radio [type="radio"]:not(:checked) + label:after {opacity: 0;-webkit-transform: scale(0);transform: scale(0);}
.global-radio [type="radio"]:checked + label:after {opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
.mea-yes-list .item-md{padding-left: 0;}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .mea-yes-list .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  -webkit-box-shadow: inset 0 -1px 0 0 #ccc;
}

/*****************Question Screen (Select Field)**********************/

.custom-select .select-field{border: none !important;padding: 0;border-bottom: 1px solid #ccc !important;}
.custom-select .select-field .select{background: url(../assets/imgs/arrow-down11.png) no-repeat 100% 45% / 20px;max-width: 100%; font-size: 15px;padding-right: 20px;line-height: 1.2;}
.custom-select .select-field .select .select-icon-inner{display: none;}
// .login-field .item.item-block.select-field .select{background: url(../assets/imgs/arrow-down.png) no-repeat 100% 45% / 20px;}

/***********Question1 Screen (textfield)**************/

.question-field .item{border: none !important;padding: 0;}
.question-field .item-inner{padding: 0;border-bottom: 1px solid #ccc !important; box-shadow: 0 0 0 !important;}


/***********Question2 Screen (Select field)**************/

.days-select .item{border: none !important;padding: 0;}
.days-select .item .item-inner{padding: 0;border-bottom: 1px solid #ccc !important;}
.days-select .item  .input-wrapper .label{display: block;width: 100% !important;margin: 0;padding: 0;position: absolute;
    font-size: 15px;color: #888;}
.days-select .item  .input-wrapper .select{padding: 0 5px !important;width: 100%;color:#000;max-width: 100%;font-size: 15px;padding: 0;background: url(../assets/imgs/arrow-down11.png) no-repeat 100% 45% / 20px;}
.days-select .item  .input-wrapper .select .select-icon-inner{display: none;}
.custom-percent-select .grid{padding: 0;}

/***********Privacy Policy Screen**************/

.static-content {padding: 15px;color: #888;font-size: 15px;line-height: 23px;}

/*************Welcome Screen*****************/

.welcome-screen{width: 80%;margin: 30% auto;text-align: center;}
.welcome-text{text-align: center;color: #888;font-size: 17px;margin-bottom: 40px;}
.welcome-heading{text-transform: uppercase;font-size: 21px;font-weight: 500;margin: 10px 0;color: #303131;}
.profile-img {z-index: 99;position: relative;width: 140px;height: 140px;border-radius: 50%;margin: 0 auto;}
.profile-img img{border-radius: 100%; height: 140px; width: 100%; border: 3px solid #e7e7e7;}
.profile-upload {position: relative;width: 140px;height: 140px;margin: 0 auto 50px}
.camera-img {position: absolute;top: -5px; right: -30px; background: #e7e7e7;width: 60px;height: 60px;border-radius: 50%;}
.camera-img img{width: 24px; margin-top: 19px; margin-right: -8px;}
.camera-img input[type="file"]{position: absolute;width: 60px;height: 60px;left: 0;display: block;top: 13px;opacity: 0;}

/********************** Measurement type page CSS  ****************************/

.range-md-secondary .range-bar-active, .range-md-secondary .range-knob, .range-md-secondary .range-pin, .range-md-secondary .range-pin::before{background: #ff6356!important;}
.range-ios-secondary .range-bar-active, .range-ios-secondary .range-tick-active {background: #ff6356 !important;}
.range-ios-secondary .range-pin {background: #ff6356 !important; top:-25px!important;}

/******************Gender**********************/

.gender-screen {margin: 30% auto 0;text-align: center;width: 80%;}
.heading {font-size: 20px;font-weight: 500;color: #303131;margin-bottom: 50px;}
.select-gender .grid{padding: 0;}
.gender-div.active {border: 2px solid #ff6356;}
.gender_img {display: flex;flex-direction: column;justify-content: center;height: 120px;}
.gender_img img{width: 32px;margin: 0 auto;}
.gender-div{border: 2px solid #f3f3f3;width: 120px;height: 120px;border-radius: 20px;margin: 0 auto;}
.gender-div p{color: #d2d2d2;font-size: 17px;margin: 10px 0 0;}
.gender-div.active p{color: #ff6356;}
// .gender-div .hide{display: block;}
// .gender-div.active .show{display: inline-block;}
// .gender-div.active .hide{display: inline-block;}

.gender-div .gender_img.male{background: url(../assets/imgs/boy-grey.png) no-repeat 50% 45% / 35px;}
.gender-div.active .gender_img.male{background: url(../assets/imgs/boy-pink.png) no-repeat 50% 45% / 35px;}
.gender-div .gender_img.female{background: url(../assets/imgs/girl-grey.png) no-repeat 50% 45% / 38px;}
.gender-div.active .gender_img.female{background: url(../assets/imgs/girl-pink.png) no-repeat 50% 45% / 38px;}

/****************Forgot Passord******************/

.forgot-password-wrapper{width:80%;margin: 20% auto 0;}
.forgot-icon{text-align: center;margin-bottom: 40px;}
.forgot-icon img{width: 90px;}
.forgot-password-wrapper .welcome-text {font-size: 15px;}
.forgot-field .item{border: none !important;padding: 0 0 4px; box-shadow: 0 0 0 !important;}
.forgot-field .item .item-inner{padding: 0;border-bottom: 1px solid #ccc !important; box-shadow: 0 0 0 !important;}
.forgot-field .item .item-inner .input.email-field input{margin-left:4px;background: url(../assets/imgs/email-icon1.png) no-repeat 100% 45% / 16px;font-size: 16px;color: #888;line-height: 2;height: 30px; padding-right: 22px;}
.forgot-field .item .item-inner .input.password-field input{margin-left:4px;background: url(../assets/imgs/password-icon1.png) no-repeat 100% 45% / 16px;font-size: 16px;color: #888;line-height: 2;height: 30px;}
.forgot-field .list{margin-bottom: 0;}
.err_cls{margin-top: 0;}
.forgot-field .item.item-block .error-border{border-bottom-color: #a72e3c !important;}
/****************Change Passord******************/

.black-btn.width-btn-50 .cancel-btn{
background: #727171; width:48%;
background: -moz-linear-gradient(left, #727171 0%, #777676 14%, #828282 36%, #898888 50%, #949393 66%, #9b9b9b 78%, #909090 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #727171 0%,#777676 14%,#828282 36%,#898888 50%,#949393 66%,#9b9b9b 78%,#909090 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #727171 0%,#777676 14%,#828282 36%,#898888 50%,#949393 66%,#9b9b9b 78%,#909090 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727171', endColorstr='#909090',GradientType=1 ); /* IE6-9 */
}
.black-btn.width-btn-50 .button{width:48%;}
.black-btn.width-btn-50{margin-top: 10px;}

/****************landing screen*************************/

.slider-heading{font-size: 20px; text-align: center; color: #ff6356; margin: 30px 0 40px;}
.slider-heading span{text-transform: uppercase; display: block; margin-top: 20px; font-size: 25px;}
.slider-heading-text{text-align: center;color: #fff;font-size: 17px;line-height: 24px;}
.image-slider .slide-zoom img{width: 180px;}
// .ftr-landP{min-height: auto;padding: 12px;}
.ftr-landP .toolbar-background{background: rgba(40, 40, 40, 0.56);}
.ftr-landP .toolbar-content .title{text-align: center;}
.ftr-landP .toolbar-content .title .toolbar-title{color: #fff;font-size: 17px;}
.image-slider{display: block;width: 100%;height: calc(100vh - 80px);}
.swiper-pagination .swiper-pagination-bullet{width: 12px;height: 12px;background: #fff;opacity: 0.8;}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background: #ff6356;}

/******************* Tab Screen(Home Page) CSS *********************/
.tab_logout.bar-button{color:#fff !important;}
.tab_noti.bar-button{color:#fff !important;}
.gym-img-row {position: relative;border-radius: 0;}
.gym-img-row .img-text {position: absolute;color: #fff;left: 50%;top: 50%;transform: translate(-50% , -50%);font-size: 15px;
    width: 100%;text-align: center;font-weight: 500;}


/****************Payment*******************/
.pull-right{float: right;}
.color-f4f4f4{background: #f4f4f4;}
.payment-wrapper {padding: 5px;}
.payment-wrapper .list .item{margin-bottom: 5px;padding: 3px 0 1px 14px;}
.payment-wrapper .list .item .item-inner{background: url(../assets/imgs/delete-icon.png) no-repeat 96% 45% / 17px;}
.card-details .card-img{width: 42px;display: inline-block;}
.card-details .card-no{width: calc(100% - 50px);display: inline-block;vertical-align: top;padding-left: 10px;
    font-size: 15px;color: #777;margin-top: 5px;}
.payment-wrapper .item .input-wrapper .label{margin: 0;line-height: 1;}

/**************** Settings *******************/
.settings-list > .item{padding: 0; position: relative; border-radius: 4px; margin: 0 0 2px;}
.settings-list  .input-wrapper{padding: 5px 0 5px 65px;}
.settings-icn{width: 24px; position: absolute; left: 20px; top: 13px;}
.settings-list  .item ion-label{font-size: 1.55rem; color: #4d4d4d;}
.settings-list button .item-inner{background-image: url(../assets/imgs/list-arrow.png); background-size: 9px; background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;}
.bg{background-color: #f4f4f4;}
.bg-padding .scroll-content{padding: 3px;}

/**************** payment-detail *******************/
.form-block .item-input-has-focus .label-ios[floating], .form-block .input-has-focus .label-ios[floating], .form-block .item-input-has-value .label-ios[floating], .form-block .input-has-value .label-ios[floating]{color: #4d4d4d;}

.save-icn{
    width: 21px;
}
.payment-icn{
    margin: 8vh 0 7vh;
    text-align: center;
    img{
        width: 100px; 
    }
}
.form-block {
    width: 80%; 
    margin: 0 auto;
    ion-label.label{
        color: #4d4d4d !important;
        font-size: 1.5rem;
    }
    .text-input{
        color: #4d4d4d; 
        font-size: 1.6rem;
    }
    .expiry-date{
        background: url('../assets/imgs/calendar-grey.png') no-repeat 100% 45% / 20px; padding-right: 30px !important;
    }
    .dob_date{
        background: url(../assets/imgs/calendar-grey.png) no-repeat 100% 45%/20px;
        padding-right: 30px !important;
        width: 100%;
        padding-left: 8px;
        color: #4d4d4d;
        font-size: 1.6rem;
    }
}
.form-block {
    .item{
        margin: 0 0 15px;
        .item-inner{
            padding: 0;
            border-bottom: 1px solid #dedede !important;
            box-shadow: 0 0 0 !important;
        }
    }
}
.view-inline{
    display: inline-block; 
    vertical-align: top;
}
.form-block {
    .global-radio{
        margin: 0 0 25px;
        .grid{
            padding: 0;
            .col{padding: 0;}
        }
        .radio{
            label{
                font-size: 16px !important;
            }
        }
    }
}

.global-radio [type="radio"]:checked + label:before{
    border: 1px solid #ff6356;
}

/**************** my account *******************/
.my-account{
    .list{
      .item{
          padding: 0;
          border-top: 0;
          .email-icn{
              background: url('../assets/imgs/email-icon1.png') no-repeat 100% 45% / 22px; 
              padding-right: 30px !important;
          }
          .user_icn{
              background: url('../assets/imgs/user-grey.png') no-repeat calc(100% - 4px) 45% / 18px; 
              padding-right: 30px !important;
          }
      }
      .custom-select{
          .select-field{
              border: 0 !important;
          }
          ion-select.select{
              width: 100%;
              padding-left: 0;
              color: #4d4d4d;
              font-size: 1.6rem;
          }
      }
  }
}
.dob_date-acc{padding: 11px 8px 11px 0 !important; color: #4d4d4d !important; background: url(../assets/imgs/calender-icon.png) no-repeat 100% 45% / 20px;width: 100%;}
.dob_date-acc .datetime-text{padding-left: 5px;color: #4d4d4d; font-size: 14px;font-weight: 500;}


.red-outline-btn{
  .button-outline{
      color: #ff6356;
      border: 1px solid #ff6356;
      height: 2.5em;
  }
}

/**************** my account - profile *******************/
$profileImage: 130px;
$cameraIcon: 50px;
$full: 100%;

.profile-block{
    width: $profileImage;
    height: $profileImage;
    border-radius: 50%;
    border: 4px solid #e7e7e7;
    margin: 6vh auto 20px;
    position: relative;
    img{
        width: $full; 
        height: $full;
        border-radius: $full/2;
    }
    .camera_icn{
        display: inline-block; 
        width: $cameraIcon;
        height: $cameraIcon;
        line-height: $cameraIcon;
        background-color: #e7e7e7;
        color: #ff6356;
        font-size: 24px;
        text-align: center;
        position: absolute;
        right: -20px;
        top: -10px;
        border-radius: $full/2;
        z-index: -1;
        .icon{
            margin-right: -10px;
        }
    }
}

/**************** workout *******************/
.home-wrapper{
  margin: 0;
}
.gym-img-row{
  border-bottom: 1px solid #4e4e4e;
  margin: 0;
  width: 100%;
  img{
      width: 100%;
      min-height: 29vh;
  }
  .img-text{
      letter-spacing: 1px;
      font-family: 'HelveticaLTStdBold';
  }
}

.progress{
  .img-text{
      left: 20px; 
      top: 20px;
      transform: none;
      text-align: left;
  }
}

/**************** main-tabs *******************/
.header-img{width: 20px;}
.main-tabs{
    .tabbar{
        background: #ff6356;
        .tab-button{
            color: #1c3f58;
        .tab-button-text{
            font-size: 1.4rem;
        }
        }
    }
    .tab-button:hover:not(.disable-hover), 
    .tab-button[aria-selected=true]{
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}

/**************** workout-inner *******************/
.workout-inner{
  margin: 0;
  .gym-img-row{
      img{
          min-height: auto;
      }
      .img-text{
          top: 55%;
          .workout-name{
              letter-spacing: 4px;
          }
          .workout-time{
              text-align: center;
              font-family: 'HelveticaLTStdRoman';
              font-size: 1.5rem;
              margin: 5px 0 0;
              letter-spacing: 0;
          }
      }
  }
  .gym-img-row:last-child{
      border-bottom: 0;
  }
}

.subheader-search{
    .searchbar-input{
      border-radius: 0;
      height: 3.2rem;
      background-color: #fff !important;
    }
}
.subheader-search .searchbar-md .searchbar-search-icon{top: 7px;}

/**************** workout-detail *******************/
.description{
  margin: 0 0 15px;
}
.card-title{
    font-family: 'HelveticaLTStdBold';
    color: #4d4d4d;
    margin: 8px 0 !important;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 0;
}

.card{
  p{
      margin: 0;
      color: #a4a4a5;
      font-family: 'HelveticaLTStdRoman';
      letter-spacing: 0.5px;
      font-size: 1.4rem;
  }
}

.card.block-card{
  padding: 10px;
  margin: 0; 
  width: 100%;
  border-radius: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card.rule-card{
  margin: 0 5px 5px;
  width: calc(100% - 10px);
}

.checkbox-grey{
  .item{
      padding: 0;
      margin: 5px 0;
      .checkbox {
          margin-top: -5px;
          margin-right: 10px;
      .checkbox-icon{
          border-color: #c8c7cc;
          border-width: 1px;
      }
      .checkbox-checked{
          border-color: #ff6356;;
      }
      .checkbox-checked{
          .checkbox-inner{
                  border-color: #ff6356;
                  width: 5px;
                  height: 11px;
                  border-width: 2px;
                  border-top-width: 0;
                  border-left-width: 0;
                  left: 5px;
          }
      }
  }
  .item-inner{
      color: #a4a4a5;
      font-family: 'HelveticaLTStdRoman';
      letter-spacing: 0.5px;
      white-space: normal;
      .input-wrapper{
          height: auto;
      }
      .label{
          white-space: normal;
          font-size: 1.4rem;
      }
  }
  }
}

.bench-press{
  margin: 25px 0 0;
}

.table{
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(50, 50, 50, 0.11);
  -moz-box-shadow:    0px 0px 5px 2px rgba(50, 50, 50, 0.11);
  box-shadow:         0px 0px 5px 2px rgba(50, 50, 50, 0.11);
  th{
      padding:10px  5px;
      background-color: #ff6356;
      color: #fff;
  }
  tbody{
      tr{
          border-bottom: 1px solid #e8e8e8;
      }
      tr:last-child{
          border-bottom: 0px solid #e8e8e8;
      }
  }
  td{
      padding: 10px 5px;
      color: #a4a4a5;
  }
}

/**************** exercise-detail *******************/
.exercise-img-card{
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
  .card{
      min-height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      img{
          max-width: 200px;
          margin: 0 auto;
      }
  }
}

.view-list{
  padding: 10px 20px;
  .item{
      padding: 0;
      border: 0 !important;
      .item-inner{
          padding: 0;
           border-color:  #e3e3e3;
           border-bottom: 1px solid #e3e3e3 !important;
           .label{
               white-space: normal;
           }
      }
  }
  .view-item{
      display: inline-block;
      float: left; 
      width: 50%;
      font-size: 1.5rem;
  }
  .view-label{
      color: #404040;
      position: relative;
      padding-right: 8px;
  }
  .view-label:after{
      content: '--';
      position: absolute;
      right: -7px;
      top: 0px
  }
  .view-span{
      text-align: right;
      color: #a4a4a5;
      padding-left: 8px;
  }
}

/******************* Nutrition Screen CSS **********************/
.nutrition{
    padding: 20px 0 0;
    .form-block {
        .text-input{
            font-size: 1.5rem;
        }
    }
    .table{
        border: 1px solid #e8e8e8;
        box-shadow: 0 0 0;
    }
}

.nutriton-list{
    margin: 0 0 20px;
    .item:first-child{
        margin: 10px 0 0;
    }
}

.food-tracking{
    margin: 0;
    .card{
          box-shadow: 0 0 0;
      }
    .custom-table{
        overflow-x: auto;
        border: 1px solid #e8e8e8;
        width: 100%;
    }
}
.m-0{margin: 0 !important;}
.m-t-0{margin-top: 0 !important;}
.add-btn{
    float: right;
    margin-top: -3px;
    margin-right: -10px;
    img{
        width: 15px;
    }
}

.table-card{
    .table{
        th{
            font-size: 1.3rem;
        }
        td{
            .checkbox-grey{
                .item{
                    min-height: auto;
                    .checkbox{
                        margin: 0 auto !important;
                    }
                }
                .item-inner{
                    display: none;
                }
            }
        }
    }
}

.current-intake-card{
    margin-bottom: 0;
    .table{
        th, td{
            font-size: 1.4rem;
        }
    }
}
.content-search{
    background: #f9f9f9;
    border-color: #f9f9f9;
    .searchbar-input{
        background: #f9f9f9;
        font-size: 1.35rem;
    }
}

.card.suggested-card{
    box-shadow: 0 0 0;
}

.food-list{
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    .item{
        border-bottom: 1px solid #e8e8e8 !important;
        .item-inner{
            padding-right: 0 !important;
            background-image: none !important;
        }
        .label{
            color: #858585;
            font-size: 1.5rem;
        }
    }
    .item:last-child{
        border-bottom: 0px solid #e8e8e8 !important;
    }
}


.sub_tbs .tabbar{background: #f4f4f4;}
.sub_tbs .tabbar .tab-button{color: #bfbfbf;}
.sub_tbs .tab-button:hover:not(.disable-hover), .sub_tbs .tab-button[aria-selected=true]{color: #ff6255; border-bottom: 2px solid #ff6255;}
.m-t-4{margin-top: 4px !important;}
.account-form .profile-upload{margin: 45px auto 20px;}
.account-form .camera-img{text-align: center;}
.change-password{margin: 20% auto 0;}

.notification{padding: 5px;}
.notification ion-item-sliding{border-radius: 2px; margin: 0 0 5px;}
.notification ion-item-sliding .item{border: 0 !important;}
p.noti-time{color: #bcbcbd; font-size: 1.4rem; margin: 0 0 3px;}
.notification-txt{color: #6f6f6f; white-space: normal;}
.eye-btn{background-color: #a3a3a3 !important; color: #fff;}
.trash-btn{background-color: #ec5067 !important; color: #fff;}
.content-search .searchbar-input{  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.1);}

.custom-percent-select .text-input{margin: 11px 8px;}
.today-btns .button{padding-top: 5px; font-size: 1.1rem; max-width: 100px; margin: 0 auto; display: inline-block;}
.today-ftr .button{text-transform: none;}
.today-lst .button{font-size: 1.4rem;}
.ftr-work-video{padding: 0 20px;}
.workout-video{padding: 15px;}
.iframe-div{height:250px; width:100%;}
.iframe-div iframe{width: 100%;height: 100%;}

/************custom tooltip***************/

.custom-tooltip{margin: 0;}
.custom-tooltip .item{padding: 0;background-color: #45dc88;border-radius: 0;padding: 12px 20px;margin: 0;color: #fff;
    font-size: 15px;}
.custom-tooltip .button{border: 1px solid #fff;border-radius: 25px;color: #fff;padding: 8px;height: auto;min-width: 66px;
    font-size: 14px;text-transform: capitalize;}
.custom-tooltip .item .input-wrapper .label{white-space: normal;margin: 0;}
.custom-tooltip .item .input-wrapper .label p{margin: 0;color: #fff;font-size: 15px;}

/************goal setting******************/

.goal-settings.custom-goal-settings{padding: 20px 15px;}
.goal-settings.custom-goal-settings .form-block{width: 100%;}
.goal-settings.custom-goal-settings .card{margin: 10px 0;width: 100%;}
.goal-settings.custom-goal-settings .card-header{background: #eee;text-align: center;}
.goal-settings.custom-goal-settings .lbl-hder {text-align: right;padding: 0 10px 0;}
.goal-settings.custom-goal-settings .global-radio{padding: 15px;margin: 0;}
.goal-settings.custom-goal-settings .global-radio .radio-inner{margin-bottom: 15px;}
.goal-settings.custom-goal-settings .global-radio .radio-inner:last-child{margin-bottom: 0;}
.goal-settings.custom-goal-settings .custom-select .list{min-height: 100%;}
.goal-settings.custom-goal-settings .custom-select .item{padding: 15px;margin: 0;}
.black-btn {margin-top: 26px;}
.goal-settings.custom-goal-settings .range-has-pin{padding-top: 33px;padding-bottom: 0;}

/***************Home Slider*******************/

.image-slider.home-custom-slider{height:250px; width: calc(100% - 30px); margin: 0 auto;}
.image-slider.home-custom-slider .slide-zoom{height: 100%;}
.image-slider.home-custom-slider .slide-zoom img{height: 100%;}

/**************Image Gallery******************/

.gallery-card{width: 100%;margin: 15px 0 0;}
.image-gallery{padding: 0;margin: 15px 0;}
.image-gallery .col{padding: 0;}
.image-gallery .col .block {max-height: 120px;margin: 0px 0 15px;width: 100%;box-shadow: none;}
.image-gallery .col:nth-child(odd) .block img{padding-right: 10px;}
.image-gallery .col:nth-child(even) .block img{padding-left: 10px;}
.card-background-page.upld-pic .upld-pic-wrapper{padding: 15px;}
.root-img{height: 300px; width: 100%;}
.root-img img{min-height: 100%;}

.popover-content{width: 150px !important;}
.act-dur .alert-wrapper{position: absolute; top: 33%; left: 0; right: 0; margin: 0 auto;}
.act-dur .alert-input{border-bottom: 1px solid #dedede !important;}

.choose-your-plan{width: 95%; margin: 0 auto;}
.choose-your-plan .measurement-head{margin: 16px 0;}
.choose-your-plan .card{border: 1px solid #eee; margin-bottom: 20px;}
.choose-your-plan .card-header{background: #eee; text-align: center;}
.choose-your-plan .card-box{padding: 16px;}
.card-box .plan-txt{ font-size: 1.45rem; color: #4d4d4d;}
.card-box button{margin: 15px auto 0; width: 90%;}
.choose-your-plan .global-radio [type="radio"]:checked + label, 
.choose-your-plan .global-radio [type="radio"]:not(:checked) + label{color: #4d4d4d;}
.choose-your-plan .global-radio [type="radio"]:not(:checked) + label:before{border: 1px solid #ccc;}
.choose-your-plan .global-radio{margin: 20px 0 0;}
.choose-your-plan .global-radio .radio-inner:last-child{margin-bottom: 0;}
.download-btn{padding: 0;}
.download-btn img{width: 25px;}
[right]{text-align: right !important;}
.back-btn-row ion-col:first-child .download-btn img{width: 20px;}
.global-checkbox .item{border: 1px solid #eaeaea; margin: 0 0 10px;}
.global-checkbox .item-inner{border: 0 !important;}
.global-checkbox .checkbox{margin: 9px 15px 9px 4px !important;}
.global-checkbox .checkbox .checkbox-checked .checkbox-inner{border-color: #fff; opacity: 1; top: 0;}
.global-checkbox .checkbox-ios .checkbox-icon{border-radius: 2px;}
.global-checkbox .checkbox .checkbox-checked .checkbox-inner{width: 5px; height: 11px; border-width: 2px; left: 7px; top: 2px; border-top-width: 0; border-left-width: 0;}
.global-checkbox .checkbox .checkbox-icon{width: 21px; height: 21px; border-color: #787878; border-width: 2px;}
.global-checkbox .checkbox .checkbox-icon.checkbox-checked{border-color: #f53d3d;}
.ques-block{text-align: center; color: #4d4d4d; font-size: 1.5rem;}
.yes-no-btn{margin: 10px 0 0;}
.yes-no-btn .col{padding: 5px !important;}
.error-bodyFat{color: #a72e3c !important; font-size: 14px !important; margin-top: -10px !important;}
.change-plan{background: #eee; font-size: 1.5rem; padding: 10px; text-align: center; border-radius: 50px;}
.change-plan p{color: #4d4d4d; margin: 0;}
.goal-set-body{border-bottom: 1px solid #dedede !important; box-shadow: 0 0 0 !important;}
// .graph-home{float: left; width: 100%;}
.nutrition.updt-weight{position: relative; z-index: 999;}
.card-title.grph-head-home{text-align: center ; margin-top: 15px!important;}
.skip-div{text-align: center; margin-top: 10px;}
.skip-div a{padding: 5px; text-align: center; text-decoration: underline; color: #ff6356; font-size: 1.5rem;}
.creat-btn .button-inner{margin-top: 1px;}
.pd-top{padding-top: 2px;}
.content-search .button.searchbar-clear-icon{display: none;}

.fitness_field{padding-right: 40px; position: relative;}
.unit_span{position: absolute; right:0; top: 10px; color: #000; font-size: 1.1em; width: 40px; display: inline-block; text-align: center;}
.fitness_field ion-input{border-bottom: 1px solid #ccc; text-align: center;}
.fitness_field input{text-align: center;}
.grid-back{padding: 0;}
.grid-back ion-row ion-col:first-child{padding: 0 5px 0 0;}
.grid-back ion-row ion-col:last-child{padding: 0 0 0 15px;}
.grid-back .button-inner{font-size: 1.5rem;}
.grid-back .button-md .button-inner span{display: inline-block; vertical-align: middle; margin: 2px 0 0;}
.grid-back .button-ios .button-inner span{display: inline-block; vertical-align: middle; margin: 1px 0 0;}
.grid-back .ion-md-arrow-back:before{color: #ff6356 !important;}
.view_history{color: #ff6356 !important;  text-decoration: underline;}
.complete-table{height: 39vh; overflow-y: auto; position: relative;}
.complete-table thead{position: fixed; width: calc(100% - 24px); top: 50px;}
.complete-table tr th, .complete-table tr td{width: 25%;}

.table-card.card-md .complete-table thead{top: 65px; width: calc(100% - 20px);}
.footer-grid{padding:1px 0;}
.footer-grid ion-row ion-col:first-child{padding: 0 5px;}
.footer-grid ion-row ion-col:last-child{padding: 0 5px;}
.footer-grid .button{height: 2.7em; text-transform: none; background-color: transparent !important; color: #fff !important; }
.lst-two-btn{width: 85%; margin: 0 auto;}
.listGrocery{position: relative;}
.listGrocery .global-checkbox{position: absolute; right: 0px; top: 50%; transform: translateY(-50%);}
.listGrocery{border-bottom: 1px solid #ccc;}
.listGrocery img{border: 1px solid #ccc;}
.listGrocery h2{color: #585858;}
.today-ftr .toolbar-background{background: transparent;}
.today-ftr .bar-button{width: 100% !important; border-radius: 25px !important; font-size: 1.5rem; background: transparent !important; color: #fff !important; text-transform: none;}

.nuti-grid-main{width: 100%; text-align: center; background: #ff6356; color: #fff; padding: 5px 0; display: flex; align-items: center;}
.nuti-list-hdr{width: 25%; display: inline-block; float: left; text-align: center;}
.frst-tbl td{width: 25%;}
.signup-select .cntry-opt .select-text{text-align: right; padding-right: 5px;}
.nuti-grid-main:before, .nuti-grid-main:after {content: ''; display: block; clear: both;}
.work-hint span{font-weight: bold; color: #314258;}
.grid-padding0{padding: 0;}
.grid-padding0 ion-col{padding: 0;}

.track-act{position: relative; padding-left: 40px; margin: 5px 0 0;}
.track-act .download-btn{position: absolute; left: 8px; top: 50%; width: 30px; transform: translateY(-52%);}
.track-act .download-btn img{width: 20px;}

.description .card-title .download-btn{margin-right: 5px; margin-top: -7px; height: 32px;}
.description .card-title .download-btn img{width: 18px;}
.foodHis-tbl .nuti-list-hdr{padding: 6px 5px; font-size: 1.5rem;}
.foodHis-tbl .nuti-list-hdr, .foodHis-tbl .complete-table tr td{width: 50%;}
.foodHis-tbl .complete-table tr td:nth-child(2){    background: url(../assets/imgs/list-arrow.png)no-repeat calc(100% - 10px) center/8px ; padding-right: 30px;}
.food-history-btn .button{height: 36px;}
.today-btns .button.active{background-color: #ff6356 !important; border: 1px solid #fff; color: #fff !important;}
[left]{text-align: left;}

.table-btn{height: 25px; margin: 0;}
.hint2{margin: 5px 0 0;}

.ftr-workDet{padding: 0 10px;}
.ftr-workDet .button{font-size: 1.5rem;}

.track-back .ion-md-arrow-back:before{color: #ff6356 !important;}

.upld-pic-wrapper .image-gallery ion-card img{max-height: 100px; min-height: 100px; width: 100%;}
.age-div{
    background: url(../assets/imgs/calendar-grey.png) no-repeat 100% 45%/20px;
    margin-left: 8px;
}

.global-radio .allergy_checkbox .radio-inner{padding: 0px 6px;}
.form-block .allergy_checkbox .item .item-inner{border-bottom: 0 !important;}
.allergy_checkbox .item{padding: 0 !important;}
.allergic-lst{max-height: 300px; overflow-y: auto}
.updte-weight{position: relative; padding-right: 30px;}
.updte-weight .unit-lbl{position: absolute; right: 0; bottom: 8px; color: #4d4d4d; font-size: 1.5rem;}




/***************Media for IPHONE X **********************/

@media only screen 
and (device-width : 375px) 
and (device-height : 812px) 
and (-webkit-device-pixel-ratio : 3) {
    .login{min-height: calc(100vh - 96px);}
    .complete-table thead{top: 135px;}
    .complete-table{height: 42vh;}
}

/***************Media for IPHONE 5**********************/
@media (max-width :360px){
  .login-heading {margin-bottom: 25px;}
  .login-heading h2 {font-size: 28px;}
  .global-radio .radio-inner {padding: 10px 9px;}
  .global-radio [type="radio"]:checked + label, .global-radio [type="radio"]:not(:checked) + label {
    padding-left: 30px;line-height: 20px;color: #a4a4a5;font-size: 13px;}
  .block-btn .facebook-btn {font-size: 15px;}
  .measurement-head {font-size: 16px;}
  .welcome-text {font-size: 15px;}
  .black-btn.width-btn-50 .button{width:47%;}
  page-goal-settings .goal-settings{padding: 10px 0 0 !important;}
  .view-list .view-item{font-size: 1.4rem;}
  .image-slider.home-custom-slider {height: 200px;}
  .complete-table{height: 34vh;}
  .today-btns .button{padding-top: 5px; height: 2.5em;}
  .today-btns .button .button-inner{font-size: 1.15rem;}
  .today-ftr .bar-button{font-size: 1.4rem;}
  .frst-tbl td{font-size: 1.3rem;}
  .nuti-list-hdr{font-size: 1.33rem !important;}
}

