<ion-header class="custom-header-inner">
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button ios-arrow-back class="arrow-icon" (click)="backBtnFunc()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button ion-button ios-arrow-back class="arrow-icon" style="visibility: hidden;">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>FLEXIBLE FITNESS</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="measurement-screen">
        <div class="measurement-head">How quickly do you want to achieve your weight goal?</div>
        <div class="custom-select">
            <ion-list>
                <ion-item class="select-field" >
                    <ion-label class="hide_lbl">Achieve weight goal</ion-label>
                    <ion-select [(ngModel)]="achWeightGoal" class="cmpleSelect">
                        <ion-option value="1">Slowly (easy)</ion-option>
                        <ion-option value="2">Moderately</ion-option>
                        <ion-option value="3">Quickly (intense)</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </div>
        <div class="black-btn">
            <button ion-button block (click)="nextFunc()">NEXT</button>
        </div>
    </div>
</ion-content>